<ion-footer>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button>
                    1
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button>
                    2
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button>
                    3
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button>
                    4
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>