<ion-header>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button (click)="redirectTo('home')">
                    Home
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="redirectTo('event')">
                    Event
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="redirectTo('health')">
                    Health
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="redirectTo('sport')">
                    Sport
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>