<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <form id="register" [formGroup]="loginForm">
    <input id="username" type="text" placeholder="Username" formControlName="username">
    <input id="password" type="password" placeholder="Password" formControlName="password">
    <ion-button type="submit" (click)="login()"> Valider</ion-button>
  </form>
  <ion-button expand="block" color="secondary" routerLink="/login/register" routerDirection="forward">Register</ion-button>
</ion-content>